@model IEnumerable<KagiderKariyerPortal.Entities.ConCreate.Ilan>
           
@{
    Layout = ViewBag.logintype == 1 ? "../shared/_LayoutIsveren.cshtml" : "../shared/_Layout.cshtml";
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@*@ViewBag.Title.*@</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                KAGİDER olarak inanıyoruz ki gençlik demek geleceğimiz demektir.
            </p>
            <p>
                Genç kadınların yetkinliklerini ve profesyonel iletişim ağlarını artırarak iş hayatına güçlü bir başlangıç yapmalarını amaçlayan, 2010 yılında başlattığımız  Geleceğin Kadın Liderleri projesi ile başladığımız gençlik çalışmaları sonuçları ve istatistiksel veriler gösteriyor ki Türkiye’deki genç kadın ve işgücü elimizdeki en büyük potansiyelimizdir. Ekonomik avantajımızı ve genç nüfus gücümüzü korumak için gençlere ve kadınlara yatırım yapmak zorunda olduğumuzun farkındayız.
            </p>
            <p>
                Bu doğrultuda birbirinden değerli projeleri hayata geçirmek üzere işbirliği yaptığımız kurumlar ve KAGİDER üyelerinin iş ilanlarının yayınlanacağı platformda işveren ile KAGİDER’in başarılı gençlik projeleri yoluyla tanıştığımız Türkiye’nin her yerinden genci bir araya getiriyor olacağız.

            </p>

        </div>

    </section>
}
@if (Session["uid"]==null)
{
    <div class="row">
       
                <div class="col-md-6">
                    
                    <div class="jumbotron">
                        <h2>İş Arayan Girişi!</h2>
                        <p>  Sisteme giriş yaparak cv oluşturabilir iş ilanlarını
                        inceleyebilirsini.</p>
                        <p><a class="btn btn-primary editDialog" en="750" href="@Url.Action("Login", "Account", routeValues: new { id = 0,viewtype=1 })" role="button">Daha fazlası &raquo;</a></p>
                    </div>
                </div>
          
                <div class="col-md-6">
                
                    <div class="jumbotron">
                        <h2>İş Veren Girişi</h2>
                        <p>
                            Sisteme giriş yaparak iş ilanları oluşturabilirsiniz.
                        </p>
                        <p><a class="btn btn-primary editDialog" en="750" href="@Url.Action("Login", "Account", routeValues: new { id = 1,viewtype=1 })" role="button">Daha fazlası &raquo;</a></p>
                    </div>
                </div> 
          
    </div>
      
    
}
<div class="col-md-12 jumbotron">
    @Html.Partial("~/Views/Ilan/_OneCikanIlanar.cshtml", Model)


</div>

    <div id="updateDialog"></div>
    @Html.Partial("~/Views/Cv/_ScriptsDialog.cshtml")
