@model KagiderKariyerPortal.Entities.ConCreate.CvDilBilgi

    @using (Ajax.BeginForm("AddDil", "Cv", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "dvDillerTum",
            OnSuccess = "updateSuccessDil"
     }, new { @id = "updateForm",@class = "form-horizontal" ,role = "form"  }))
        {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                
                    @Html.HiddenFor(model => model.DilBilgId)
                    @Html.HiddenFor(model => model.UserId)
                  <div class="form-group">
             @Html.LabelFor(m => m.Dil, new { @class = "col-md-4 control-label fontSmall" })
             <div class="col-md-8">
                 @*@Html.TextBoxFor(m => m.Dil, new { @class = "form-control" })*@
                 @Html.DropDownListFor(m => m.Dil, new SelectList(ViewBag.Dil, "DilId", "YDil"),"Seçiniz", new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.Dil)
             </div>
         </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Okuma, new { @class = "col-md-4 control-label fontSmall" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Okuma, new SelectList(ViewBag.DilSurec, "SurecId", "Surec"), "Seçiniz", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Okuma)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Yazma, new { @class = "col-md-4 control-label fontSmall" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Yazma, new SelectList(ViewBag.DilSurec, "SurecId", "Surec"), "Seçiniz", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Yazma)
                </div>
            </div>
                 <div class="form-group">
             @Html.LabelFor(m => m.Konusma, new { @class = "col-md-4 control-label fontSmall" })
             <div class="col-md-8">
                 @Html.DropDownListFor(m => m.Konusma, new SelectList(ViewBag.DilSurec, "SurecId", "Surec"), "Seçiniz", new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.Konusma)
             </div>
         </div>
                 
                  <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" class="btn btn-default" value="Kaydet" onclick="kaydet();"/>
                        </div>
                    </div>
                    @*<div class="editor-label">
                        @Html.LabelFor(model => model.Okuma)
                        @Html.DropDownListFor(m => m.Okuma, new SelectList(ViewBag.DilSurec,"SurecId", "Surec","Temel"))
                    </div>*@
                  
        }


<script>
 
    function kaydet() {
        if ($('#updateForm').valid()) {
            $('#updateForm').submit();
            $('#updateDialog').dialog('destroy').empty();
                  $('#updateDialog').dialog('close');
            }
    }
    function updateSuccessDil() {

        $('#commonMessage').html("Yabancı Dil Bilgileri Eklenmiştir!");
        $('#commonMessage').delay(400).slideDown(400).delay(3000).slideUp(400);
    }
</script>
